html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.editor-root {
  background-color: black;
  color: #aaa;
  font-family: "Droid Sans", "Deja Vu Sans", sans-serif;
  height: 100%;
  min-height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0;
  padding: 0;
}

.fragment-view {
  font-size: 3em;
  font-family: "Droid Sans Mono", "Deja Vu Sans Mono", monospace;
}

.fragment-view span {
  padding-bottom: 0.15em;
}

.cursor {
  border: solid 3px #56f;
}

.action-strip {
  width: 1cm;
}

.action-button {
  background-color: white;
  color: #666;
  border-radius: 0.2cm;
  width: 1cm;
  height: 1cm;
  font-size: 0.7cm;
  margin: 0;  margin-bottom: 0.1cm;
  tap-highlight-color: rgba(0,0,0,0);
}
